body {
  /* css for any body tags */
  background-color: #1c1b42;
  /* background-image: url("bckimgtestfull.png"); */
  height: 100vh;
  /* background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll; */
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 15px;
}

.logo {
  width: 80px;
  height: 80px;
}

h1 {
  margin: auto;
  font-family: "Lucida Sans Unicode";
  font-size: 48px;
  color: rgb(143, 149, 152) 111;
}
