body { /* css for any body tags */
    align-self:center;
    background-image: url("bckimg.png");
    height: 720px;
    background-position:left;
    background-repeat:no-repeat;
    margin: 0;
    padding: 0;
}