@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  /* min-width: 100vw; */
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #1c1b42;
  font-family: "Roboto Mono", monospace;
}

header {
  display: flex;
  align-items: center;
  background-color: #eee;
  padding: 15px;
  width: 100%;
}

.logo {
  width: 80px;
  height: 80px;
}

.intro {
  font-family: "Lucida Sans Unicode";
  font-size: 48px;
  color: rgb(143, 149, 152) 111;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #eee;
}

/* timeline styles */

#timeline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: repeat(10, 1fr);
  max-width: 1200px; */
}

.timeline-section {
  display: flex;
  align-items: center;
  color: #eee;
  padding: 20px;
  max-width: 1400px;
}

.timeline-text {
  line-height: 2rem;
  width: 60%;
}

.timeline-img {
  width: 40%;
  max-height: 40%;
}

.uranus {
  grid-area: 1 / 1 / 2 / 4;
}

.milkyway {
  align-self: flex-end;
}

.comets {
  grid-area: 8 / 1 / 10 / 4;
}

/* model styles */

#model-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
  color: #eee;
}

#sketchfab-embed-wrapper {
  width: 800px;
  height: 400px;
  display: flex;
  justify-content: center;
}

.model-text {
  text-align: center;
  padding: 0px 100px;
}
