@media screen and (max-width: 1600px) {
  .timeline-img {
    width: 200px;
    margin-right: 50px;
  }

  .timeline-section {
    min-height: 70vh;
  }

  #uranus {
    grid-area: 2 / 4 / 3 / 6;
  }

  #titania {
    grid-area: 3 / 7 / 4 / 9;
  }

  #oberon {
    grid-area: 4 / 4 / 5 / 6;
  }

  #mimas {
    grid-area: 5 / 7 / 6 / 9;
  }

  #galaxy {
    grid-area: 6 / 4 / 7 / 6;
  }

  footer {
    grid-area: 13 / 5 / 14 / 6;
  }

  #sketchfab-embed-wrapper {
    width: 700px;
    height: 550px;
  }
}

@media screen and (max-width: 1300px) {
  .timeline-img {
    width: 150px;
    margin-right: 50px;
  }

  #uranus {
    grid-area: 2 / 2 / 3 / 6;
  }

  #uranus img {
    min-width: 200px;
  }

  #titania {
    grid-area: 3 / 7 / 4 / 9;
  }

  #oberon {
    grid-area: 4 / 2 / 5 / 6;
  }

  #mimas {
    grid-area: 5 / 7 / 6 / 9;
  }

  #galaxy {
    grid-area: 6 / 2 / 7 / 6;
  }

  /* #sketchfab-embed-wrapper {
    width: 700px;
    height: 550px;
  } */
}

@media screen and (max-width: 1100px) {
  .timeline-img {
    width: 150px;
    margin-right: 50px;
  }

  #uranus {
    grid-area: 2 / 2 / 3 / 6;
  }

  #titania {
    grid-area: 3 / 7 / 4 / 9;
  }

  #oberon {
    grid-area: 4 / 2 / 5 / 6;
  }

  #mimas {
    grid-area: 5 / 7 / 6 / 9;
  }

  #galaxy {
    grid-area: 6 / 2 / 7 / 6;
  }

  /* #sketchfab-embed-wrapper {
    width: 700px;
    height: 550px;
  } */
}

@media screen and (max-width: 800px) and (min-width: 481px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
  }

  .timeline-img {
    width: 120px;
    margin-right: 50px;
  }

  header {
    grid-area: 1 / 2 / 2 / 6;
    font-size: 1.4rem;
  }

  header p {
    padding: 0px 50px;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  h1 {
    font-size: 4rem;
  }

  .timeline-text {
    line-height: 2rem;
    width: 0%;
    padding: 0px;
  }

  #uranus {
    grid-area: 2 / 3 / 3 / 5;
  }

  #uranus img {
    min-width: 180px;
  }

  #titania {
    grid-area: 3 / 3 / 4 / 5;
  }

  #oberon {
    grid-area: 4 / 3 / 5 / 5;
  }

  #mimas {
    grid-area: 5 / 3 / 6 / 5;
  }

  #moons {
    grid-area: 6 / 3 / 7 / 5;
  }

  #galaxy {
    grid-area: 7 / 3 / 8 / 5;
  }

  #model-container {
    grid-area: 9 / 2 / 10 / 6;
    width: 600px;
    /* min-height: 50vh; */
  }

  #sketchfab-embed-wrapper {
    width: 700px;
    height: 550px;
  }

  .thumbnail-container {
    /* min-width: 250px; */
    width: 700px;
  }

  .model-arrow {
    width: 35px;
    height: 35px;
    margin: 10px;
    cursor: pointer;
    transition: all 1s;
  }
  .thumbnail {
    width: 10px;
    height: 12px;
    margin: 25px;
  }

  h2 {
    line-height: 3.5rem;
  }

  .pre-model-text {
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 400;
    padding: 0px 50px;
    min-height: 350px;
    margin-top: 100px;
    grid-area: 8 / 2 / 9 / 6;
  }

  .post-model-text {
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 400;
    min-height: 450px;
    padding: 0px 50px;
    grid-area: 11 / 2 / 12 / 6;
  }

  /* history section */

  #history {
    min-height: 85vh;
    color: #eee;
    text-align: center;
    min-height: 950px;
    grid-area: 12 / 2 / 13 / 6;
  }

  #history p {
    font-size: 1.2rem;
    padding: 0px 40px;
  }

  .william-img {
    margin: 100px;
    width: 200px;
    height: 250px;
  }

  .caroline-img {
    margin: 100px;
    width: 200px;
    height: 250px;
  }

  /*--FooterStuff--*/

  footer {
    min-height: 400px;
    justify-content: space-between;
    align-items: center;
    grid-area: 13 / 2 / 14 / 6;
  }

  .footer-text {
    text-align: center;
    font-size: 1.2rem;
    padding: 0px 40px;
    margin-top: 50px;
    grid-area: 14 / 2 / 15 / 6;
  }

  .company-container {
    display: flex;
    flex-direction: column;
    /* background-color: #eee; */
    margin: 10px;
  }

  .social-container {
    display: flex;
    justify-content: space-around;
  }
  .company-logo {
    width: 247px;
    height: 274px;
  }

  #map {
    min-width: 100%;
    max-width: 120%;
    max-height: 100%;
    margin-top: 100px;
    grid-area: 15 / 2 / 16 / 6;
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .timeline-img {
    width: 120px;
    margin-right: 50px;
  }

  .timeline-section {
    min-height: 50vh;
  }

  #nav-arrow {
    width: 50px;
    height: 50px;
  }

  header {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 1.2rem;
    margin-bottom: 100px;
  }

  header p {
    padding: 0px 100px;
    font-size: 1rem;
    line-height: 2rem;
  }

  h1 {
    font-size: 4rem;
  }

  .timeline-text {
    padding: 0px;
    line-height: 2rem;
    width: 0%;
  }

  .timeline-img {
    width: 120px;
    /* max-width: 100px; */
    /* max-height: 50%; */
  }

  #uranus {
    grid-area: 4 / 2 / 5 / 3;
  }

  #uranus img {
    min-width: 180px;
  }

  #titania {
    grid-area: 5 / 2 / 6 / 3;
  }

  #oberon {
    grid-area: 6 / 2 / 7 / 3;
  }

  #mimas {
    grid-area: 7 / 2 / 8 / 3;
  }

  #galaxy {
    grid-area: 9 / 2 / 10 / 3;
  }

  #model-container {
    min-height: 400px;
    grid-area: 11 / 2 / 12 / 3;
  }

  #sketchfab-embed-wrapper {
    width: 650px;
    height: 700px;
  }

  .thumbnail-container {
    min-width: 200px;
    width: 450px;
  }

  .model-arrow {
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    transition: all 1s;
  }
  .thumbnail {
    width: 8px;
    height: 12px;
    margin: 25px;
  }

  h2 {
    line-height: 3.5rem;
    font-size: 2.5rem;
  }

  .pre-model-text {
    font-size: 1rem;
    min-height: 400px;
    line-height: 2rem;
    font-weight: 400;
    padding: 0px 100px;
    grid-area: 10 / 2 / 11 / 3;
  }

  .post-model-text {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
    padding: 0px 100px;
    min-height: 400px;
    grid-area: 12 / 2 / 13 / 3;
  }

  /* history section */

  #history {
    min-height: 1200px;
    /* margin-bottom: 100px; */
    grid-area: 13 / 2 / 14 / 3;
  }

  #history p {
    font-size: 1.2rem;
    padding: 0px 100px;
  }

  .william-img {
    margin: 100px;
    width: 200px;
    height: 250px;
  }

  .caroline-img {
    margin: 100px;
    width: 200px;
    height: 250px;
  }

  /*--FooterStuff--*/

  footer {
    min-height: 200px;
    justify-content: space-around;
    align-items: center;
    grid-area: 14 / 2 / 15 / 3;
  }

  .footer-text {
    text-align: center;
    font-size: 1.2rem;
    padding: 0px 100px;
    margin-bottom: 50px;
    /* margin: 100px 0px; */
    grid-area: 15 / 2 / 16 / 3;
  }

  .company-container {
    display: flex;
    flex-direction: column;
    /* background-color: #eee; */
    margin: 10px;
  }

  .social-container {
    display: flex;
    justify-content: space-around;
  }
  .company-logo {
    width: 247px;
    height: 274px;
  }

  #map {
    min-width: 100%;
    max-width: 120%;
    max-height: 100%;
    margin-top: 100px;
    grid-area: 16 / 2 / 17 / 3;
  }
}
