@media screen and (max-width: 801px) and (min-width: 1920px) {
}

@media screen and (max-width: 800px) and (min-width: 481px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
  }

  header {
    grid-area: 1 / 2 / 2 / 6;
    font-size: 1.4rem;
  }

  header p {
    padding: 0px 1rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
  }

  .timeline-text {
    line-height: 2rem;
    width: 0%;
    padding: 0px;
  }

  .timeline-img {
    width: 55%;
    /* max-width: 100px; */
    max-height: 95%;
  }

  #uranus {
    grid-area: 2 / 2 / 3 / 5;
  }

  #titania {
    grid-area: 3 / 2 / 4 / 5;
  }

  #titania img {
    max-width: 110px;
  }

  #oberon {
    grid-area: 4 / 2 / 5 / 5;
  }

  #oberon img {
    max-width: 90px;
  }

  #mimas {
    grid-area: 5 / 2 / 6 / 5;
  }

  #mimas img {
    max-width: 140px;
  }

  #moons {
    grid-area: 6 / 2 / 7 / 5;
  }

  #galaxy {
    grid-area: 7 / 2 / 8 / 5;
  }

  #model-container {
    grid-area: 8 / 2 / 9 / 6;
  }

  #sketchfab-embed-wrapper {
    min-width: 250px;
    width: 350px;
    height: 300px;
  }

  .thumbnail-container {
    min-width: 250px;
    width: 350px;
  }

  .model-arrow {
    width: 35px;
    height: 35px;
    margin: 10px;
    cursor: pointer;
    transition: all 1s;
  }
  .thumbnail {
    width: 10px;
    height: 10px;
    margin: 25px;
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  header {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 1.2rem;
  }

  header p {
    padding: 0px 0.5rem;
    font-size: 1rem;
    line-height: 2rem;
  }

  .timeline-text {
    padding: 0px;
    line-height: 2rem;
    width: 0%;
  }

  .timeline-img {
    width: 50%;
    /* max-width: 100px; */
    max-height: 50%;
  }

  #uranus {
    grid-area: 4 / 2 / 5 / 3;
  }

  #titania {
    grid-area: 5 / 2 / 6 / 3;
  }

  #titania img {
    max-width: 100px;
  }

  #oberon {
    grid-area: 6 / 2 / 7 / 3;
  }

  #oberon img {
    max-width: 80px;
  }

  #mimas {
    grid-area: 7 / 2 / 8 / 3;
  }

  #mimas img {
    max-width: 130px;
  }

  #moons {
    grid-area: 8 / 2 / 9 / 3;
  }

  #galaxy {
    grid-area: 9 / 2 / 10 / 3;
  }

  #model-container {
    grid-area: 10 / 2 / 11 / 3;
  }

  #sketchfab-embed-wrapper {
    min-width: 200px;
    width: 350px;
    height: 300px;
  }

  .thumbnail-container {
    min-width: 200px;
    width: 350px;
  }

  .model-arrow {
    width: 25px;
    height: 25px;
    margin: 10px;
    cursor: pointer;
    transition: all 1s;
  }
  .thumbnail {
    width: 8px;
    height: 8px;
    margin: 25px;
  }
}
